.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 5px;
    width: 5rem;
    height:0.5rem;
    color:orange;
    font-size: 0.7rem;
    margin:0.3rem;
  }
  .module-box { 
    background-color: #01032a;
    border: 2px solid orange;
    box-shadow: 0 4px 8px rgba(21, 1, 83, 0.2);
  }
  .custom-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    
    width: 0px;
    height: 0px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
